
body, html {
    height: 100%;
}

html {
    /* The image used */
    background-image: linear-gradient(cyan,blueviolet);
    border: 15px solid lightskyblue;


/* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: green;
    font: 1.4em "Fira Sans", sans-serif;

}

h2 {
    color: limegreen;
    font: 1.4em "Fira Sans", sans-serif;

}

h3 {
    color: limegreen;
    font: 1.4em "Fira Sans", sans-serif;

}

p {
    font: 1.4em "Fira Sans", sans-serif;
}

a {
    font: 1.4em "Fira Sans", sans-serif;
}
