
body, html {
    height: 100%;
}

html {
    /* The image used */
    background-image: linear-gradient(cyan,blueviolet);
    border: 15px solid lightskyblue;


/* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: green;
    font: 1.4em "milky_coffeeregular";

}

h2 {
    color: limegreen;
    font: 1.4em "milky_coffeeregular";

}

h3 {
    color: limegreen;
    font: 1.4em "milky_coffeeregular";

}

p {
    font: 1.4em "milky_coffeeregular";
}

a {
    font: 1.4em "milky_coffeeregular";
}

@font-face {
    font-family: "milky_coffeeregular";
    src: url("webfontkit-20221005-145252/milky_coffee.woff2") format("woff2"),
    url("webfontkit-20221005-145252/milky_coffee.woff")
    format("woff");
}