
h1 {
    font: 5.2em "milky_coffeeregular"

}

img {
    transition: transform 1.7s;
    transform-origin: center;
}

img:hover {
    transform: rotate(360deg);
}

html {
  background-color: cyan;
}

button {
   margin-top: 40px;
    display: list-item;
    height: 60px;
    font: 35px "milky_coffeeregular"
}
























@font-face {
    font-family: "milky_coffeeregular";
    src: url("webfontkit-20221005-145252/milky_coffee.woff2") format("woff2"),
    url("webfontkit-20221005-145252/milky_coffee.woff")
    format("woff");
}
