
h1 {
    font: 5.2em "milky_coffeeregular"

}
h2 {
    font: 2.2em "milky_coffeeregular"

}

.spinner2 {
    transition: transform 1.2s;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 blue);
}

.spinner3 {
    transition: transform 0.8s;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 springgreen);
}

.spinner4 {
    transition: transform 0.5s;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 navajowhite);
}

.spinner5 {
    transition: transform 400ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 yellowgreen);
}

.spinner6 {
    transition: transform 350ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 goldenrod);
}

.spinner7 {
    transition: transform 325ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 darkviolet);
}

.spinner8 {
    transition: transform 250ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 indianred);
}

.spinner9 {
    transition: transform 200ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 lightseagreen);
}

.spinner10 {
    transition: transform 100ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 navy);
}

.spinner11 {
    transition: transform 50ms;
    transform-origin: center;
    filter: opacity(0.4) drop-shadow(0 0 0 gold);
}

.spinner {
    transition: transform 1.7s;
    transform-origin: center;
}

img:hover {
    transform: rotate(360deg);
}

html {
  background-color: cyan;
}

button {
   margin-top: 40px;
    display: list-item;
    height: 60px;
    font: 35px "milky_coffeeregular"
}
























@font-face {
    font-family: "milky_coffeeregular";
    src: url("webfontkit-20221005-145252/milky_coffee.woff2") format("woff2"),
    url("webfontkit-20221005-145252/milky_coffee.woff")
    format("woff");
}
